<header>
    <nav>
        <div class="leftnav">
            <h1>Healthy Heart Heaven 🧡</h1>
        </div>
        <div class="rightnav">
            <ul>
                <li><button (click)="navigateTo('/')">Home</button></li>
                <li><button (click)="navigateTo('/Awareness')">Awareness</button></li>
                <li><button (click)="navigateTo('/PatientsSpeaks')">Hear from patients</button></li>
                <li class="quotebtn"><button (click)="navigateTo('/QuickCheckup')">Quick Checkup</button></li>
            </ul>
        </div>
    </nav>
</header>
