<div id="awareness" class="awareness-page">
    <div class="awareness-page-left">
        <img src="assets/images/Awareness-page-photo.jpg" alt="" class="awareness-page-image">
    </div>
    <div class="awareness-page-right">
        <h2 class="awareness-page-reveal">Awareness</h2>
        <p class="awareness-page-reveal">Exercise regularly,
            Maintain a healthy and balanced diet, Stop smoking,
            Limit alcohol, Maintain a healthy weight, Do pleasant activities and eliminate stress, Go for regular
            medical check-ups,
            Get enough sleep.</p>
        <a href="https://bluenethospitals.com/blog/cardiology/10-Ways-Heart-Healthy" target="_blank"
            class="awareness-btn awareness-page-reveal">Read More</a>
    </div>
    <img src="assets/images/Awareness-page-line.svg" alt="" class="awareness-page-line">
</div>