<header>
    <nav>
        <div class="leftnav">
            <h1>Healthy Heart Heaven 🧡</h1>
        </div>
        <div class="rightnav">
            <ul>
                <li><a href="#home">Home</a></li>
                    <li><a href="#8ness">Awareness</a></li>
                <li><a href="#hear-from-patient">Hear from patients</a></li>
                <li class="quotebtn"><a href="#checkup">Quick Checkup</a></li>
            </ul>
        </div>
    </nav>
</header>

<main id="home" class="home-page">
    <div class="home-container">
        <h2 class="home-page-title">Our mission is to make healthcare more accessible</h2>
        <img src="assets/images/home-page-photo.jpg" alt="" class="home-page-image">
    </div>
    <img src="assets/images/home-page-line.svg" alt="" class="home-page-line">
</main>

<div id="awareness" class="awareness-page">
    <div class="awareness-page-left">
        <img src="assets/images/Awareness-page-photo.jpg" alt="" class="awareness-page-image">
    </div>
    <div class="awareness-page-right">
        <h2 class="awareness-page-reveal">Awareness</h2>
        <p class="awareness-page-reveal">Exercise regularly,
            Maintain a healthy and balanced diet, Stop smoking,
            Limit alcohol, Maintain a healthy weight, Do pleasant activities and eliminate stress, Go for regular
            medical check-ups,
            Get enough sleep.</p>
        <a href="https://bluenethospitals.com/blog/cardiology/10-Ways-Heart-Healthy" target="_blank"
            class="awareness-btn awareness-page-reveal">Read More</a>
    </div>
    <img src="assets/images/Awareness-page-line.svg" alt="" class="awareness-page-line">
</div>

<div class="hear-from-patient-page" id="hear-from-patient">
    <h2>Hear from patients</h2>
    <div class="patient-card-container">
        <div class="patient-card">
            <div class="patient-card-hover">
                <img src="assets/images/card-nidhi-photo.jpg" alt="">
                <h2>Nidhi Savaliya</h2>
            </div>
            <div class="card-exp">
                <h2>How did it happend?</h2>
                <p>My heart disease journey began unexpectedly, altering my life in profound ways. I faced the
                    reality of a condition I never anticipated, but through resilience and support.
                </p>
            </div>
            <div class="card-symp">
                <h2>Symptoms</h2>
                <p>The symptoms of my heart disease were alarming and disruptive. From chest pain and shortness of
                    breath to fatigue and dizziness.
                </p>
            </div>
            <div class="card-advice">
                <h2>Advice</h2>
                <p>To others facing heart disease, I offer this advice: prioritize your health, listen to your body,
                    and don't hesitate to seek medical attention.</p>
            </div>
        </div>
        <div class="patient-card">
            <div class="patient-card-hover">
                <img src="assets/images/card-zeel-photo.jpg" alt="">
                <h2>Jeel Upadhyay</h2>
            </div>
            <div class="card-exp">
                <h2>How did it happend?</h2>
                <p>Facing heart disease was a sudden awakening. One day, I felt a tightening in my chest during a
                    routine walk. Ignoring it wasn't an option anymore. It was my heart demanding attention.
                </p>
            </div>
            <div class="card-symp">
                <h2>Symptoms</h2>
                <p>Chest tightness and shortness of breath were persistent, especially during physical activity. It
                    felt like an elephant sitting on my chest.
                </p>
            </div>
            <div class="card-advice">
                <h2>Advice</h2>
                <p>Don't dismiss symptoms, no matter how subtle. Early detection can be life-saving. Listen to your
                    body and prioritize regular check-ups.
                </p>
            </div>
        </div>
        <div class="patient-card">
            <div class="patient-card-hover">
                <img src="assets/images/Pritesh.jpg" alt="">
                <h2>Pritesh Nath</h2>
            </div>
            <div class="card-exp">
                <h2>How did it happend?</h2>
                <p>Discovering my heart condition was unexpected. I experienced sudden fatigue and dizziness during
                    work. It was a wake-up call to prioritize my health.
                </p>
            </div>
            <div class="card-symp">
                <h2>Symptoms</h2>
                <p>Fatigue, dizziness, and irregular heartbeats were alarming. Simple tasks became daunting, and
                    each day felt like a struggle to keep going.
                </p>
            </div>
            <div class="card-advice">
                <h2>Advice</h2>
                <p>Take your heart health seriously. Even minor symptoms could be warning signs. Prioritize
                    self-care and seek medical advice promptly. Your heart deserves attention.</p>
            </div>
        </div>
    </div>
</div>

<!-- form -->
<div class="checkup-page" id="checkup">
    <h2>Get your checkup done</h2>
    <div class="checkup-form-container d-flex align-items-center justify-content-center">
        <div id="left-form">

            <div class="my-3 d-flex">
                <label for="age" class="form-label">Age:</label>
                <input type="number" class="form-control" id="age" name="age" required>
            </div>
            <div class="mb-3 d-flex">
                <label for="sex" class="form-label">Sex:</label>
                <select class="form-control" id="sex" name="sex" required>
                    <option value="">Select...</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="mb-3 d-flex">
                <label for="cp" class="form-label">Chest pain type (cp):</label>
                <input type="number" class="form-control" id="cp" name="cp" required>
            </div>
            <div class="mb-3 d-flex">
                <label for="trestbps" class="form-label">Resting blood pressure (trestbps):</label>
                <input type="number" class="form-control" id="trestbps" name="trestbps" required>
            </div>
            <div class="mb-3 d-flex">
                <label for="chol" class="form-label">Serum cholesterol in mg/dl (chol):</label>
                <input type="number" class="form-control" id="chol" name="chol" required>
            </div>
        </div>
        <div id="right-form">

            <div class="mb-3 d-flex">
                <label for="fbs" class="form-label">Fasting blood sugar &gt; 120 mg/dl (fbs):</label>
                <select class="form-control" id="fbs" name="fbs" required>
                    <option value="">Select...</option>
                    <option value="0">False (0)</option>
                    <option value="1">True (1)</option>
                </select>
            </div>
            <div class="mb-3 d-flex">
                <label for="restecg" class="form-label">Resting electrocardiographic results (restecg):</label>
                <input type="number" class="form-control" id="restecg" name="restecg" required>
            </div>
            <div class="mb-3 d-flex">
                <label for="thalach" class="form-label">Maximum heart rate achieved (thalach):</label>
                <input type="number" class="form-control" id="thalach" name="thalach" required>
            </div>
            <div class="mb-3 d-flex">
                <label for="exang" class="form-label">Exercise induced angina (exang):</label>
                <select class="form-control" id="exang" name="exang" required>
                    <option value="">Select...</option>
                    <option value="0">No (0)</option>
                    <option value="1">Yes (1)</option>
                </select>
            </div>
            <div class="mb-3 d-flex">
                <label for="oldpeak" class="form-label">ST depression induced by exercise relative to rest (oldpeak):</label>
                <input type="number" class="form-control" id="oldpeak" name="oldpeak" required>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-bottom">
        <h2>Copyright © Healthy Heart Heaven 🧡</h2>
    </div>
</footer>