<div class="hear-from-patient-page" id="hear-from-patient">
    <h2>Hear from patients</h2>
    <div class="patient-card-container">
        <div class="patient-card">
            <div class="patient-card-hover">
                <img src="assets/images/raj.jpg" alt="">
                <h2>Raj Vora</h2>
            </div>
            
            <div class="card-symp">
                <h1>Symptoms</h1>
                <p>The symptoms of my heart disease were alarming and disruptive. From chest pain and shortness of
                    breath to fatigue and dizziness.
                </p>
            </div>
            <div class="card-advice">
                <h1>Advice</h1>
                <p>To others facing heart disease, I offer this advice: prioritize your health, listen to your body,
                    and don't hesitate to seek medical attention.</p>
            </div>
        </div>
        <div class="patient-card">
            <div class="patient-card-hover">
                <img src="assets/images/card-zeel-photo.jpg" alt="">
                <h2>Jeel Upadhyay</h2>
            </div>
            
            <div class="card-symp">
                <h1>Symptoms</h1>
                <p>Chest tightness and shortness of breath were persistent, especially during physical activity. It
                    felt like an elephant sitting on my chest.
                </p>
            </div>
            <div class="card-advice">
                <h1>Advice</h1>
                <p>Don't dismiss symptoms, no matter how subtle. Early detection can be life-saving. Listen to your
                    body and prioritize regular check-ups.
                </p>
            </div>
        </div>
        <div class="patient-card">
            <div class="patient-card-hover">
                <img src="assets/images/Pritesh.jpg" alt="">
                <h2>Pritesh Nath</h2>
            </div>
            
            <div class="card-symp">
                <h1>Symptoms</h1>
                <p>Fatigue, dizziness, and irregular heartbeats were alarming. Simple tasks became daunting, and
                    each day felt like a struggle to keep going.
                </p>
            </div>
            <div class="card-advice">
                <h1>Advice</h1>
                <p>Take your heart health seriously. Even minor symptoms could be warning signs. Prioritize
                    self-care and seek medical advice promptly. Your heart deserves attention.</p>
            </div>
        </div>
    </div>
</div>